<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashiro.business.mapper.WorkReportMapper">

    <resultMap type="WorkReport" id="WorkReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="weekStartDate"    column="week_start_date"    />
        <result property="weekEndDate"    column="week_end_date"    />
        <result property="reportContent"    column="report_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectWorkReportVo">
        select report_id, week_start_date, week_end_date, report_content, create_time, update_time, create_by, update_by from work_report
    </sql>

</mapper>
